# URL del API Backend
# Por defecto: http://localhost:3001/api
VITE_API_URL=http://localhost:3001/api

# Página de preguntas frecuentes (al hacer clic en "Preguntas frecuentes" se redirige aquí)
VITE_FAQ_URL=http://localhost:3008

# Webhook al seleccionar el servicio (registro)
# VITE_ISA_REGISTRO_WEBHOOK_URL=https://agentehgi.hginet.com.co/webhook/1986379d-...
# Webhook para mensajes del chat (input)
# VITE_ISA_AGENT_WEBHOOK_URL=https://agentehgi.hginet.com.co/webhook/72919732-...
